/* HEADER */

header{
  background-color: white;
  line-height: 60px;
  padding: 0 10px;
  z-index: 999;
}

header img{
  vertical-align: middle;
}

header ul li{
  display: inline-block;
  padding: 0 20px;
}

header .list-sx, .list-dx{
  width: calc(50% - 93px);
  padding: 0 30px;
}

header .list-dx{
  text-align: right;
}


/* JUMBOTRON */

.jumbotron{
  background-color: #b4d0e7;
  padding: 80px;
  margin-top: 60px;
  margin-bottom: 100px;
  height: 700px;
}


.jumbotron h1{
  font-size: 5em;
}

.jumbotron#jumbo-title{
  margin-bottom: 20px;
}

.jumbotron .box-sx{
  padding:50px 20px 0 0;
}

.jumbotron .box-sx .btn-start{
  margin: 20px 0;
}

.jumbotron .box-dx img{
  width: 100%;
  padding-top: 50px;
}
.jumbotron .arrow-down{
  padding-top: 30px;
  font-size: 40px;
}


/* MAIN */

main .col{
  width: calc(100%/3 - 40px);
  padding: 32px;
}

main .col.col-center{
  margin: 0 60px;
}

main .col.col-left{
  height: 900px;
}

main .col-title{
  padding: 10px;
}

main .radio{
  padding-top: 30px;
  padding-right: 10px;
}

main .radio label{
  padding-right: 20px;
}

.col .col-top h2,h5,p,.btn{
  padding: 10px 0;
}

.blue{
  text-decoration:underline;
  color: #0363ff;
}

.col .col-down{
  margin-top: 20px;
}

.col ul li{
  padding: 10px 0;
}

p.condizioni{
  color: grey;
}

main .col .btn{
  padding: 5px 48px;
}

main h3{
  font-weight: 700;
  font-size: 1.3rem;
}

main .col h5{
  font-weight: 700;
  font-size: 1rem;
}

main .col h4{
  margin-top: 50px;
  margin-bottom: 20px;
}

.col-down i{
  color: #0363ff;
}

/* INIZIO ENTERPRISE */

.banner{
  padding: 20px;
  margin-bottom: 80px;
}

.banner h4{
  padding: 20px 0;
}

.box-sx{
  width: 70%;
  float: left;
}

.box-dx{
  width: 30%;
  float: left;
  padding: 0 20px;
}

/* FOTO + BOX DX */

.img-partner img{
  width: 100%;
}

.partner-drop{
  padding: 40px;
}

.partner-drop p{
  padding: 40px 0;
  line-height: 180%;
}

.partner-drop .btn{
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
}

/* COLONNE BUSINESS */

.business img{
  width: 100%;
}

.business h2{
  padding: 20px 0;
}

/* DESIGN SECTION */

.design-center{
  width: calc(100% - 60vw);
  margin-top: 40px;
  background-color: #f5f5f5;
  height: 30vw;
  position: relative;
  top: 0;
  left: 0;
}

.logo-design{
  position: absolute;
  top: 50px;
  left: 60px;
}

.logo-design img{
  width: 150px;
  padding-bottom: 30px;
  border-bottom: 2px solid #e2e2e4;
}

.design-text{
 padding: 60px;
 margin-top: 100px;
}

.design-text .design-sign{
  margin-top: 30px;
}

.design-lateral{
 width: 30vw;
 height: 30vw;
 margin-top: 40px;
}

.block{
  width: 15vw;
  height: 15vw;
  line-height: 15vw;  
}

.block img{
  width: 50%;
  vertical-align: middle;
  filter: invert(1);
}

.block.block-1{
  background-color: #a2d39b;
}
.block.block-2{
  background-color: #61082b;
}
.block.block-3{
  background-color: #0093ce;
}
.block.block-4{
  background-color: #ff1c1c;
}
.block.block-5{
  background-color: #d5001f;
}
.block.block-6{
  background-color: #b4d0e7;
}
.block.block-7{
  background-color: #0d2481;
}
.block.block-8{
  background-color: #ffd830;
}



/* DROPBOX AZIENDA */

.azienda{
  background-color: #b4d0e7;
  padding: 100px 0;
}

.azienda-btn a {
  background-color: rgb(255, 255, 255);
  color: black;
  float: right; 
  padding: 7px 35px;
}

.azienda-text{
  width: 40%;
}

/* DOMANDE FREQUENTI */

main .faq{
  margin: 40px 0;
}

main .faq .domande{
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
  position: relative;
  top: 0;
  left: 0;
}

main .faq h2{
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}

.faq-i{
  position: absolute;
  top: 20px;
  right: 20px;
}

/* BONUS HOVER */



/* FOOTER */

footer{
  background-color: black;
  color: white;
  padding: 80px 120px;
}

footer .footer-title{
  padding-bottom: 20px;
}

footer ul li a{
  color: white;
  font-size: 14px;
  line-height: 200%;
}

footer .foot-col{
  width: calc(100% / 5);
  float: left;
}

footer .footer-down{
  margin-top: 80px;
  padding-top: 40px;
  width: 100px;
  font-size: 12px;
  border-top: 2px solid;
  color: #616161;
}