/* HEADER */

header{
  background-color: white;
  line-height: 60px;
  padding: 0 10px;
  z-index: 999;
}

header img{
  vertical-align: middle;
}

header ul li{
  display: inline-block;
  padding: 0 20px;
}

header .list-sx, .list-dx{
  width: calc(50% - 93px);
  padding: 0 30px;
}

header .list-dx{
  text-align: right;
}


/* JUMBOTRON */

.jumbotron{
  background-color: #b4d0e7;
  padding: 80px;
  margin-top: 60px;
  margin-bottom: 100px;
  height: 700px;
}

.jumbotron h1{
  font-size: 5em;
}

.jumbotron#jumbo-title{
  margin-bottom: 20px;
}

.jumbotron .box-sx{
  padding:50px 20px 0 0;
}

.jumbotron .box-sx .btn-start{
  margin: 20px 0;
}

.jumbotron .box-dx img{
  width: 100%;
  padding-top: 50px;
}



/* MAIN */

main .col{
  width: calc(100%/3);
}

.radio{
  padding-top: 20px;
}



/* FOOTER */